## Load the data

In [1]:
import numpy as np
import pandas as pd

#import the data
print('loding the data...')
df=pd.read_csv('responses.csv')#len(df.columns) 150

#df.head()
#df.tail()
#df.describe() #gives stats for all numeric datatypes
df.describe(include='all')
#df.info()

loding the data...

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
count,1007.000000,1008.000000,1006.000000,1005.000000,1005.000000,1003.000000,1008.000000,1007.000000,1004.000000,1007.000000,...,1003.000000,990.000000,990.000000,1004.000000,1004,1007,1009,1008,1006,1006
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,2,6,2,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,female,right handed,secondary school,no,city,block of flats
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,593,906,621,754,707,595
mean,4.731877,3.328373,3.113320,2.288557,2.123383,2.956132,2.761905,3.471698,3.761952,2.361470,...,20.433699,173.514141,66.405051,1.297809,NaN,NaN,NaN,NaN,NaN,NaN
std,0.664049,0.833931,1.170568,1.138916,1.076136,1.252570,1.260845,1.161400,1.184861,1.372995,...,2.828840,10.024505,13.839561,1.013348,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,15.000000,62.000000,41.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.000000,3.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1.000000,...,19.000000,167.000000,55.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,2.000000,...,20.000000,173.000000,64.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,3.000000,...,22.000000,180.000000,75.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,30.000000,203.000000,165.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN

## Preprocessing

In [2]:
##replacing null values with majority value

print('Preprocessing...')

cols=list(df.columns)
#print(cols)
df[cols]=df[cols].fillna(df.mode().iloc[0])

#coln=df.columns
#for i in coln:
#    df = df.fillna({i: df[i].mode()[0]}, inplace=True)


#convert object datatype to categorical
#in python- int, float, bool, datetime, timedelta, object, categorical
print('converting categorical to numeric..')
for y in df.columns:
    if df[y].dtype.kind=='O':
        df[y]=df[y].astype('category')
        #print(df[y].dtype)
        #print(df[y]
df

#one hot encoding
print('one hot encoding..')
df1=pd.get_dummies(df, columns=['Smoking','Alcohol','Punctuality','Lying','Internet usage','Gender','Left - right handed','Education','Only child','Village - town','House - block of flats'], prefix=["sm", "al", "pu","ly","internet", "gender","handedness","edu","onlychild","town","house"
])
#df1

Preprocessing...
converting categorical to numeric..
one hot encoding..

In [3]:

print('Splitting the data into X and y')
#splitting into X and y
y=df1['Empathy']
#y=y_notvalues.values

df1 = df1.drop('Empathy', 1)


#train test split
from sklearn.model_selection import train_test_split
#split into X and Y


print('train, dev, test split')
X_train, X_test, y_train, y_test = train_test_split(df1, y, test_size=0.2, random_state=1) #train 80, test 20

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1) #train 64%, 16%

Splitting the data into X and y
train, dev, test split

## classification

In [4]:
#classification

from sklearn import tree
print('Trying with decisio tree classifier')
clf=tree.DecisionTreeClassifier()#tune it.
clf.fit(X_train,y_train)

prediction=clf.predict(X_val)
accuracy=np.mean((prediction)==y_val)
print('Development accuracy with decision tree is ', accuracy)


prediction=clf.predict(X_test)
accuracy=np.mean((prediction)==y_test)
print('Test accuracy with decision tree is ', accuracy)
#0.321782178218

Trying with decisio tree classifier
Development accuracy with decision tree is  0.4012345679012346
Test accuracy with decision tree is  0.2871287128712871

In [5]:
from sklearn import naive_bayes
from nltk.classify import NaiveBayesClassifier
clf=naive_bayes.MultinomialNB()

clf.fit(X_train, y_train)

prediction=clf.predict(X_val)
accuracy=np.mean((prediction)==y_val)
print('Development accuracy with naive bayesian  is ', accuracy)


prediction=clf.predict(X_test)
accuracy=np.mean((prediction)==y_test)
print('Test accuracy with naive bayesian is ', accuracy)
#0.351485148515

Development accuracy with naive bayesian  is  0.2962962962962963
Test accuracy with naive bayesian is  0.35148514851485146

## PCA

In [6]:
#Standardizing data before applying pca

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
# Fit on training set only.
scaler.fit(X_train)
# Apply transform to both the training set and the test set.
X_train = scaler.transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

In [7]:

from sklearn.decomposition import PCA
print('using pca')
pca = PCA(n_components=30)#retain features with that percentage of variance

pca.fit(X_train)#fit the training data with pca
X_train = pca.transform(X_train)#transform 

X_val=pca.transform(X_val)
X_test = pca.transform(X_test)


from sklearn.linear_model import LogisticRegression
print('using logistic regression ')
logisticRegr = LogisticRegression(solver = 'lbfgs')
logisticRegr.fit(X_train, y_train)



#validation
prediction=logisticRegr.predict(X_val)
accuracy=np.mean((prediction)==y_val)
print('Development accuracy with logistic regression with pca is:', accuracy)


#print(prediction)
#test
prediction=logisticRegr.predict(X_test)
accuracy=np.mean((prediction)==y_test)
print('test accuracy with logistic regression with pca is:', accuracy)

using pca
using logistic regression
Development accuracy with logistic regression with pca is: 0.3333333333333333
test accuracy with logistic regression with pca is: 0.40594059405940597